<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezlinker.app.modules.mqtttopic.mapper.MqttTopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ezlinker.app.modules.mqtttopic.model.MqttTopic">
        <result column="id" property="id"/>
        <result column="record_version" property="recordVersion"/>
        <result column="x" property="x"/>
        <result column="create_time" property="createTime"/>
        <result column="allow" property="allow"/>
        <result column="ip" property="ip"/>
        <result column="username" property="username"/>
        <result column="client_id" property="clientId"/>
        <result column="module_id" property="moduleId"/>
        <result column="access" property="access"/>
        <result column="topic" property="topic"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
record_version,
x,
create_time,
allow,
ip,
username,
client_id,
module_id,
access,
topic
    </sql>


    <select id="listByDevice" resultType="com.ezlinker.app.modules.mqtttopic.model.MqttTopic">

        <if test="deviceId!=null">
            SELECT
            *
            FROM
            ez_mqtt_topic
            WHERE
            client_id IN (
            SELECT
            client_id
            FROM
            ez_module
            WHERE
            device_id = #{deviceId}
            )
        </if>
    </select>
    <select id="listByModule" resultType="com.ezlinker.app.modules.mqtttopic.model.MqttTopic">
        <if test="moduleId!=null">
            SELECT
            *
            FROM
            ez_mqtt_topic
            WHERE
            module_id = #{moduleId}
        </if>

    </select>

</mapper>
